In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st 
import numpy as np
from scipy.stats import linregress

In [2]:
#import data
happiness_2018 = "../Resources/Happiness_2018.csv"
happiness_2019 = "../Resources/Happiness_2019.csv"

In [3]:
#Set up Pandas Data frame
happiness_2018_pd = pd.read_csv(happiness_2018)
happiness_2018_pd.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [4]:
#Set up Pandas Data frame
happiness_2019_pd = pd.read_csv(happiness_2019)
happiness_2019_pd.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [5]:
#happiness_2018_pd.dtypes
#happiness_2019_pd.dtypes

In [6]:
#count the rows before cleaning 
count_2018 = len(happiness_2018_pd["Overall rank"].unique())
count_2019 = len(happiness_2019_pd["Overall rank"].unique())

print(f"There are {count_2018} countries that were evaluated in 2018, and {count_2019} countries in 2019.")

There are 156 countries that were evaluated in 2018, and 156 countries in 2019.

In [7]:
#clean the data of N/A and duplicate values
clean_2018 = happiness_2018_pd.dropna()
clean_2018 = clean_2018.drop_duplicates()
clean_count_2018 = len(clean_2018["Overall rank"].unique())

clean_2019 = happiness_2019_pd.dropna()
clean_2019 = clean_2019.drop_duplicates()
clean_count_2019 = len(clean_2019["Overall rank"].unique())

print(f"There are now {clean_count_2018} countries for 2018, and {clean_count_2019} countries for 2019.")

There are now 155 countries for 2018, and 156 countries for 2019.

In [8]:
#Rename columns 
clean_2018.rename(columns = {'Score':'Happiness Score'}, inplace = True)
clean_2019.rename(columns = {'Score':'Happiness Score'}, inplace = True)

In [9]:
#Export to Resources folder as CSV
clean_2018.to_csv ('../Resources/clean_2018.csv', index = True, header=True)
clean_2019.to_csv ('../Resources/clean_2019.csv', index = True, header=True)

In [10]:
#Export as JSON
clean_2018.to_json('../Resources/clean_2018.json', orient = "index")
clean_2019.to_json('../Resources/clean_2019.json', orient = "index")

In [11]:
#Convert to HTML tables
clean_2018.to_html('../Resources/clean_2018.html')
clean_2019.to_html('../Resources/clean_2019.html')